<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <table>
            <tr>
                <th>序号</th>
                <th>姓名</th>
                <th>年龄</th>
                <th>电话</th>
            </tr>
            <tr v-for="(user,i) in users" :key="i">
                <td>{{i+1}}</td>
                <td v-for="value in user">{{value}}</td>
            </tr>
        </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
    new Vue({
        el: "#app",
        data: {
            users: [{
                name: "小明",
                age: 20,
                tel: "13377889900"
            }, {
                name: "小花",
                age: 18,
                tel: "13379989900"
            }, {
                name: "小红",
                age: 21,
                tel: "13377559900"
            }]
        }
    })
</script>

</html>